<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>


	<targets>

		
		<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="logfile"
				fileName="logs/app-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		
		<target xsi:type="File" name="errorfile"
				fileName="logs/errors-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<!-- تعریف قوانین (Rules): چه چیزی کجا برود؟ -->
	<rules>
		<!-- تمام لاگ‌ها به کنسول بروند -->
		<logger name="*" minlevel="Trace" writeTo="logconsole" />

		<!-- تمام لاگ‌ها به فایل اصلی بروند -->
		<logger name="*" minlevel="Info" writeTo="logfile" />

		<!-- فقط لاگ‌های Error و بالاتر به فایل مخصوص خطاها بروند -->
		<logger name="*" minlevel="Error" writeTo="errorfile" />
	</rules>
</nlog>

